@mixin centered() {
    align-items: center;
    justify-content: center;
}

@mixin vertical-padding($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}
  
@mixin horizontal-padding($padding) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin border($color){
    border: 3px solid $color;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
  
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}
  
@mixin flex-center-vert {
    display: flex;
    align-items: center;
}
  
@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

@mixin gradient-inset-shadow{
    -webkit-box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0,0,0,0);
}