/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_reset';
@import '_mixins';
@import '_btns';
body {  
  background: white;
  color: $black-coffee;
	font-family: 'Lato';
  text-transform: uppercase;
}
.login-view{
  height: 100%;
  width: 100%;
  @include vertical-padding(200px);
  color: $black-coffee;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
nav {
  position: fixed;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  left: 0;
  background-color: black;
  color: $light-steel-blue;
}
nav button {
  margin-top: 10px;
  font-size: 120%;
  list-style-type: none;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  border-style: none none dashed none;
}
.nav-footer{
  position: absolute;
  bottom:10%
}
nav button:hover{
  color: $iris;
  cursor: pointer;
  border-style: none none inset none;
}
.user-info{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  @include vertical-padding(20px)
}
.user-info img{
  height: auto;
  width: 100px;
  padding-bottom: 10px;
}
.cc{
  position: fixed;
  height: 100%;
  width: 80%;
  right: 0;
  overflow: scroll;
}
#greetingMessage{
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}
.bookings-container{
  display: flex;
  @include vertical-padding(50px);
  @include horizontal-padding(40px);
}
.bookings-container #bookings{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 70vh;
  overflow: scroll;
  width: 70%;
  @include gradient-inset-shadow();
}
#booking-card{
  border: 1px solid $black-coffee;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
  min-width: 80px;
  max-width: 200px;
  border-radius: 3px;
}
.room-filters{
  background-color: $ivory;
  @include vertical-padding(5px);
  @include horizontal-padding(20px);
}
#bc-date{
  color: ivory;
  background-color: $black-coffee;
}
#bc-room{
  text-align: center;
  background-color: $ivory;
  color: $black-coffee;
  border-radius: 3px;
}

#moneySpent {
  display: flex;
  @include centered();
  flex-direction: column;
  width: 40%;
  font-size: 3vw;
  text-align: center;
}
.acc-funds{
  font-size: 5vw;
  color: rgb(0, 88, 0);
}
.new-bookings-container {
  display: flex;
  @include vertical-padding(50px);
  @include horizontal-padding(40px);
}
.new-booking-search{
  @include flex-column();
  @include flex-center();
  justify-content: flex-start;
  width: 30%;
}
#newBookingSearchResults{
  @include flex-center();
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-around;
  align-items: flex-start;
  overflow: scroll;
  padding: none;
  min-height: 100%;
  min-width: 100%;
  @include gradient-inset-shadow();
}
#newBookingSearchResults p {
  font-size: 18px;
  text-align: center;
  @include horizontal-padding(20px);
}
.before-search{
  @include vertical-padding(40px)
}
.new-booking-result{
  @include flex-column();
  @include border($light-steel-blue);
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}
.new-booking-result:hover{
}
.new-booking-result p{
  display: block;
}
.new-booking-result img{
  width: 100%;
  height: auto;
}
.form-horizontal{
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  @include centered();
  width: 100%;
}
.form-horizontal p{
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.conf1{
  @include border(#ff5e00);
}
.conf1 div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conf2{
  @include border(#048a16);
}


.bookings-container::-webkit-scrollbar {
  width: 12px;
}
.bookings-container::-webkit-scrollbar-track {
  background: #ffffff;
}
.bookings-container::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}

.cc::-webkit-scrollbar {
  width: 12px;
}
.cc::-webkit-scrollbar-track {
  background: #ffffff;
}
.cc::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}
#newBookingSearchResults::-webkit-scrollbar {
  width: 12px;
}
#newBookingSearchResults::-webkit-scrollbar-track {
  background: #ffffff;
}
#newBookingSearchResults::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}

.hidden{
  display: none;
}