/* This is an example of how to import a partial scss file*/
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.btn {
  border: none;
  font-size: 12px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1 */
.btn-blue {
  background: #3498db;
  color: #fff;
}

.btn-blue:hover {
  background: #2980b9;
}

.btn-blue:active {
  background: #2980b9;
  top: 2px;
}

/* Button 2 */
.btn-green {
  background: #2ecc71;
  color: #fff;
}

.btn-green:hover {
  background: #27ae60;
}

.btn-green:active {
  background: #27ae60;
  top: 2px;
}

/* Button 3 */
.btn-red {
  background: #e74c3c;
  color: #fff;
}

.btn-red:hover {
  background: #c0392b;
}

.btn-red:active {
  background: #c0392b;
  top: 2px;
}

/* Button 3 */
.btn-slate {
  background: #34495e;
  color: #fff;
}

.btn-slate:hover {
  background: #2c3e50;
}

.btn-slate:active {
  background: #2c3e50;
  top: 2px;
}

body {
  background: white;
  color: #3c3744ff;
  font-family: "Lato";
  text-transform: uppercase;
}

.login-view {
  height: 100%;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #3c3744ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

nav {
  position: fixed;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  left: 0;
  background-color: black;
  color: #b4c5e4ff;
}

nav button {
  margin-top: 10px;
  font-size: 120%;
  list-style-type: none;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  border-style: none none dashed none;
}

.nav-footer {
  position: absolute;
  bottom: 10%;
}

nav button:hover {
  color: #3d52d5ff;
  cursor: pointer;
  border-style: none none inset none;
}

.user-info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-info img {
  height: auto;
  width: 100px;
  padding-bottom: 10px;
}

.cc {
  position: fixed;
  height: 100%;
  width: 80%;
  right: 0;
  overflow: scroll;
}

#greetingMessage {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

.bookings-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.bookings-container #bookings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 70vh;
  overflow: scroll;
  width: 70%;
  -webkit-box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#booking-card {
  border: 1px solid #3c3744ff;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: center;
  min-width: 80px;
  max-width: 200px;
  border-radius: 3px;
}

.room-filters {
  background-color: #fbfff1ff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#bc-date {
  color: ivory;
  background-color: #3c3744ff;
}

#bc-room {
  text-align: center;
  background-color: #fbfff1ff;
  color: #3c3744ff;
  border-radius: 3px;
}

#moneySpent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  font-size: 3vw;
  text-align: center;
}

.acc-funds {
  font-size: 5vw;
  color: #005800;
}

.new-bookings-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.new-booking-search {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 30%;
}

#newBookingSearchResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
  justify-content: space-around;
  align-items: flex-start;
  overflow: scroll;
  padding: none;
  min-height: 100%;
  min-width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 1px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #2e19a3, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#newBookingSearchResults p {
  font-size: 18px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.before-search {
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-booking-result {
  display: flex;
  flex-direction: column;
  border: 3px solid #b4c5e4ff;
  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}

.new-booking-result p {
  display: block;
}

.new-booking-result img {
  width: 100%;
  height: auto;
}

.form-horizontal {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-horizontal p {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.conf1 {
  border: 3px solid #ff5e00;
}

.conf1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conf2 {
  border: 3px solid #048a16;
}

.bookings-container::-webkit-scrollbar {
  width: 12px;
}

.bookings-container::-webkit-scrollbar-track {
  background: #ffffff;
}

.bookings-container::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}

.cc::-webkit-scrollbar {
  width: 12px;
}

.cc::-webkit-scrollbar-track {
  background: #ffffff;
}

.cc::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}

#newBookingSearchResults::-webkit-scrollbar {
  width: 12px;
}

#newBookingSearchResults::-webkit-scrollbar-track {
  background: #ffffff;
}

#newBookingSearchResults::-webkit-scrollbar-thumb {
  background-color: #4f92ff;
  border-radius: 10px;
  border: 1px solid #030303;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=styles.scss.map */
